.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;

    p{
        color: #fff;
    }
    h1{
        color: white;
    }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            transition: all 0.5s ease-in-out;

                img{
                    width: 20%;
                    border-radius: 10px;
                }

                .tags{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: gray;

                        .tag{
                            color: white;
                        }
                }

                p{
                    max-width: 100%;
                }
            .ghosts {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                color: grey;
                width: 100%;
            }

            input:checked + span {
                text-decoration: line-through;
            }
        }
}
.hide_button{
    height: 25px;
    position: absolute;
    right: 96.38%;
    top: 2.1%;
    border: none;
    background-color: transparent;
    color: black;
    font-weight: 800;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.hide_button:hover{
    color: black;
    cursor: pointer;
}